#nav, #nav ul {
  list-style: none;
  padding: 0;
}
.container {
  height: auto;
  width: 200px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
#nav li {
  z-index: 100;
}
#nav li a {
  background-color: #d4d5d8;
  width: 182px;
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  outline: 0;
  padding-left: 15px;
  text-decoration: none;
}
#nav li {
  position: relative;
  z-index: 100;
}
#nav li a {
  background-color: #d4d5d8;

  color: #000;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  outline: 0;
  padding-left: 15px;
  text-decoration: none;
}
#nav ul {
  position: relative;
  z-index: -1;
}
#nav ul li {
  margin-top: -28px;
  width: 182px;
  height: 28px;
  -moz-transition: 0.4s linear 0.4s;
  -ms-transition: 0.4s linear 0.4s;
  -o-transition: 0.4s linear 0.4s;
  -webkit-transition: 0.4s linear 0.4s;
  transition: 0.4s linear 0.4s;
}
#nav ul li a {
  background-color: #eee;
  width: 182px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 11px;
  line-height: 22px;
}
#naf ul {
  left: -9999px;
  opacity: 0;
  overflow: hidden;
  top: -9999px;
  margin-left: 96px;
  margin-top: -40px;
  -moz-transform: rotateY(70deg);
  -ms-transform: rotateY(70deg);
  -o-transform: rotateY(70deg);
  -webkit-transform: rotateY(70deg);
  transform: rotateY(70deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transition: -moz-transform 0.3s linear, opacity 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear, opacity 0.3s linear;
  -o-transition: -o-transform 0.3s linear, opacity 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
}
#nav ul li a {
  background-color: #eee;
  width: 182px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 11px;
  line-height: 22px;
}
#nav ul li {
  margin-top: -28px;
  width: 182px;
  height: 28px;
  -moz-transition: 0.4s linear 0.4s;
  -ms-transition: 0.4s linear 0.4s;
  -o-transition: 0.4s linear 0.4s;
  -webkit-transition: 0.4s linear 0.4s;
  transition: 0.4s linear 0.4s;
}